---
// Importa el componente ButtonAnimatedGradient
import ButtonRotatingBackgroundGradient from "./ButtonRotatingBackgroundGradient.tsx";
---

<a
    href={Astro.props.href}
    target="_blank"
    rel="noopener noreferrer"
    title={Astro.props.title}
    aria-label={Astro.props.title}
    class="inline-block rounded-full focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-gray-50"
>
    <ButtonRotatingBackgroundGradient>
        <slot />
    </ButtonRotatingBackgroundGradient>
</a>
